body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

/*----------------*/
.txn {
}

.request {
}

.response {
}

/*----------------*/
/*     Sizing     */
/*----------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}

/*----------------*/
/*   CodeMirror   */
/*----------------*/
.CodeMirror {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/*----------------*/
/*    Splitters   */
/*----------------*/

/* horizontal panel*/
.splittable-row {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    height: 100%;
    width: 100%;
    overflow: auto;

    /* avoid browser level touch actions */
    xtouch-action: none;
}

.splittable-row-first {
    /* manually resized */
    flex: 0 0 auto;
    width: 50%;
    white-space: nowrap;
}

.splittable-row-rest {
    /* automatically resized */
    flex: 1 1 auto;
    position: relative;
    width: 50%;
    min-width: 10px;
}

.splittable-row-splitter {
    flex: 0 0 auto;
    width: 18px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
    min-height: 200px;
    cursor: col-resize;
}

/* vertical panel */
.splittable-column {
    display: flex;
    flex-direction: column;
    border: 1px solid silver;
    height: 100%;
    width: 100%;
}

.splittable-column-first {
    /* manually resized */
    flex: 0 0 auto;
    height: 50%;
    white-space: nowrap;
}

.splittable-column-rest {
    /* automatically resized */
    flex: 1 1 auto;
    position: relative;
    height: 50%;
    min-height: 10px;
}

.splittable-column-splitter {
    flex: 0 0 auto;
    height: 18px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/hsizegrip.png) center center no-repeat #535353;
    cursor: row-resize;
}
/*----------------*/

#content {
    margin-left: 0px;
    margin-right: 0px;
}

#message-area {
    overflow: auto;
    background-color: #eee;
}

#messages {
}
