body {
  padding: 1px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.txn {
}

.request {
}

.response {
}

#content {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

#room {
  background-color: #ddd;
  margin-bottom: 1em;
}

#message-area {
    overflow: auto;
}

#messages {
    background-color: #eee;
    margin-bottom: 1em;
    margin-right: 10px;
}

#send-message {
    width: 90%;
    height: 100%;
}

#help {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}
