body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

/*----------------*/
.transcript {
}

.transcript-entry {
    resize: vertical;
    overflow: auto;
    border-bottom: 1px dotted;
}

.request {
}

.response {
}

/*----------------*/
/*     Sizing     */
/*----------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}

/*----------------*/
/*   CodeMirror   */
/*----------------*/
.CodeMirror {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.CodeMirrorContainer {
    flex: 1 1 auto;
/*
    margin-top: 0;
*/
    height: 100%;
    position: relative;
}

.CodeMirror-fullscreen {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  height: auto;
  z-index: 9;
}

/*----------------*/
/*    Splitters   */
/*----------------*/

/* horizontal panel*/
.splittable-row {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    height: 100%;
    width: 100%;

    /* avoid browser level touch actions */
    xtouch-action: none;
}

.splittable-row-first {
    /* manually resized */
    flex: 0 0 auto;
    width: 50%;
    white-space: nowrap;
}

.splittable-row-other {
    /* automatically resized */
    flex: 1 1 auto;
    position: relative;
    min-width: 10px;
}

.splittable-row-splitter {
    flex: 0 0 auto;
    width: 18px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
    min-height: 200px;
    cursor: col-resize;
}

/* vertical panel */
.splittable-column {
    display: flex;
    flex-direction: column;
    border: 1px solid silver;
    height: 100%;
    width: 100%;
}

.splittable-column-first {
    /* manually resized */
    flex: 0 0 auto;
    height: 50%;
    white-space: nowrap;
    overflow: auto;
}

.splittable-column-other {
    /* automatically resized */
    flex: 1 1 auto;
    position: relative;
    height: 50%;
    min-height: 10px;
    overflow: auto;
}

.splittable-column-splitter {
    flex: 0 0 auto;
    height: 18px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/hsizegrip.png) center center no-repeat #535353;
    cursor: row-resize;
}

/*----------------*/
#content {
    margin-left: 0px;
    margin-right: 0px;
}

#input-area {
}

#transcript {
}
